// ===========================
//GLOBAL SETTINGS
// ===========================
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Raleway&display=swap");
$global-font-family: "Raleway", sans-serif;
$global-font-size: 15px;
$base-body-font-weight: 400;
$global-line-height: 1.5;

// ===========================
//COLOR & BACKGROUND
// ===========================
$global-color: #515070;
$global-primary-color: #fddf00;
$global-primary-background: #e2e9ee;
$global-secondary-background: #4e536b;

// ===========================
//SELECTION
// ===========================
$base-selection-color: #26244c;
$base-selection-background: #e2e9ee;

// ===========================
//HEADING
// ===========================
$base-heading-font-family: "Montserrat", sans-serif;
$base-heading-text-transform: uppercase;
